.create-bmc-page {
  background-color: var(--neutral-silver);
  min-height: calc(100vh - var(--navbar-height));
  padding: var(--spacing-xl) 0;
  margin-top: 0rem !important;
}

.create-bmc-container {
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-2);
}

.bmc-input-section {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
  align-items: center;
  flex-wrap: wrap;
}

.category-select {
  padding: var(--spacing-sm);
  border: 1px solid var(--neutral-grey-blue);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-base);
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .bmc-input-section {
    flex-direction: column;
    width: 100%;
  }

  .bmc-input-section input,
  .category-select,
  .bmc-input-section button {
    width: 100%;
    flex: none;
  }
}
