.create-bmc-page {
  background-color: var(--neutral-silver);
  min-height: calc(100vh - var(--navbar-height));
  padding: var(--spacing-xl) 0;
  margin-top: 0rem !important;
}



.create-bmc-container {
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-2);
}

/* BMC items list styling */
.bmc-items-list {
  max-height: 300px;
  overflow-y: auto;
}
.bmc-item-interactive:hover {
  cursor: pointer;
  text-decoration: line-through;
}




.bmc-input-section {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xl);
  align-items: center;
  flex-wrap: wrap;
}

.category-select {
  padding: var(--spacing-sm);
  border: 1px solid var(--neutral-grey-blue);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-base);
  min-width: 200px;
  flex: 1;
}

.bmc-input-section input {
  padding: var(--spacing-sm);
  border: 1px solid var(--neutral-grey-blue);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-base);
  flex: 2;
  min-width: 200px;
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .bmc-input-section {
    flex-direction: column;
    width: 100%;
  }

  .bmc-input-section input,
  .category-select,
  .bmc-input-section button {
    width: 100%;
    flex: none;
  }
}
