.game-page {
  padding: var(--spacing-md);
  min-height: calc(100vh - var(--navbar-height));
  background-color: var(--neutral-white);
  margin-top: 2rem !important;
}

.game-container {
  padding: var(--spacing-md);
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--neutral-silver);
  border-radius: var(--radius-md);
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--neutral-white);
  border-radius: var(--radius-sm);
}

.score {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--primary-color);
}

.progress {
  font-size: var(--font-size-base);
  color: var(--neutral-dark-grey);
}

.guess-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.guess-input {
  flex: 1;
  padding: var(--spacing-sm);
  border: 1px solid var(--neutral-grey-blue);
  border-radius: var(--radius-sm);
  /* font-size: var(--font-size-base); */
}

.submit-button {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--primary-color);
  color: var(--neutral-white);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: var(--shade-1);
}

